.glyphicon {
  font-size: 20px;
}

.main-stuff h2 {
  padding-top: 20px;
  letter-spacing: 3px;
  font-size: 30px;
}

.main-stuff h1 {
  color: white;
  letter-spacing: 3px;
}
#spa {
  margin-top: 80px;
  padding-top: 30px;
  background-color: black;
  height: 100px;
}

.main-stuff footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: black;
   text-decoration-color: white;
   text-align: center;
}

.main-stuff h5 {
  color: white;
}
