.navbar {
  border-bottom: 1px solid;
}

.heading-body {
  padding: 50px;
}

.heading-body h1{
  font-size: 50px;
}

.heading-footer {
  padding: 20px 0;
  background-color: #443E45;
  color: white;
}

.heading .bottom {
  font-style: italic;
  color: #908991;
  padding: 4px 0;
  border-bottom: 1px #333 solid;
  border-radius: 2px;
}
