/* header */

.header-wrapper {
  text-align: center;
}

.main-title {
  background: -webkit-linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),
  url(../img/viking_ship_background_medium.jpg);
  background: -moz-linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),
  url(../img/viking_ship_background_medium.jpg);
  background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),
  url(../img/viking_ship_background_medium.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  height: 300px;
  h1 {
    line-height: 300px;
    margin: 0px;
  }
}

.sub-title {
  background-color: #303030;
  color: #fff;
  height: 100px;
  h2 {
    line-height: 100px;
    margin: 0px;
  }
}

.catalog-header {
  height: 75px;
  line-height: 75px;
  font-size: 24px;
  font-style: italic;
  border-bottom: 1px solid #ddd;
}

.product-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  h3 {
    color: #fff;
    font-weight: 700px;
    font-size: 22px;
  }
  img {
    height: 190px;
    max-width: 100%;
  }
  .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .price {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #555;
    background-color: white;
  }
  .banner-box {
    background-color: #303030;
    height: 50px;
    line-height: 50px;
    h3 {
      line-height: inherit;
      margin: 0px;
    }
    .btn {
      font-weight: bold;
    }
  }
}

.category-filter {
  margin-top: 15px;
  margin-bottom: 5px;
}

.media-left {
  img {
    height: 90px;
  }
}

.merge-order {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbb;
}

.order-item {
  border: 1px solid #bbb;
  margin-top: 15px;
  height: 110px;

}

.order-total {
  margin-bottom: 15px;
}


.form-group {
  margin-bottom: 5px; 
}

.navbar {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #000;
  margin-bottom: 0px;
}

.navbar-brand {
  font-size: 1.75em;
}

// Footer 

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 170px;
}

.site-footer {
  border-top: 1px solid #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  .row {
    padding-top: 5px;
  }  
}

.alert {
  margin-bottom: 0px !important;
}

.public-panel {
  border: 1px solid #bbb;
  padding: 0 10px 10px 10px;
  margin-top: 15px;
}