<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

    <div class="form-group">
      <label for="address" class="col-sm-3 control-label">Shipping Address</label>
      <div class="col-sm-9">
        <input type="text" name="address" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="city" class="col-sm-3 control-label">City</label>
      <div class="col-sm-9">
        <input type="text" name="city" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="state" class="col-sm-3 control-label">State</label>
      <div class="col-sm-9">
        <input type="text" name="state" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="zip" class="col-sm-3 control-label">Zip Code</label>
      <div class="col-sm-9">
        <input type="text" name="zip" required class = "form-control">
      </div>
    </div>


    <div class="form-group">
      <label for="baddress" class="col-sm-3 control-label">Billing Address</label>
      <div class="col-sm-9">
        <input type="text" name="baddress" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="bcity" class="col-sm-3 control-label">City</label>
      <div class="col-sm-9">
        <input type="text" name="bcity" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="bstate" class="col-sm-3 control-label">State</label>
      <div class="col-sm-9">
        <input type="text" name="bstate" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="bzip" class="col-sm-3 control-label">Zip Code</label>
      <div class="col-sm-9">
        <input type="text" name="bzip" required class = "form-control">
      </div>
    </div>

  </div>
  <button ui-sref = "cart.checkout.payment" class = "btn btn-primary">Next Step</button>
</div>

