<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

    <div class="form-group">
      <label for="ccn" class="col-sm-3 control-label">Credit Card</label>
      <div class="col-sm-9">
        <input type="text" name="ccn" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="sc" class="col-sm-3 control-label">Security Code</label>
      <div class="col-sm-9">
        <input type="text" name="sc" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="cardname" class="col-sm-3 control-label">Name on Card</label>
      <div class="col-sm-9">
        <input type="text" name="cardname" required class = "form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="expdate" class="col-sm-3 control-label">Expiration Date</label>
      <div class="col-sm-9">
        <input type="date" name="expdate" required class = "form-control">
      </div>
    </div>


  </div>
  <button ui-sref = "cart.checkout.addresses" class = "btn btn-primary">Previous Step</button>
  <button ui-sref = "cart.checkout.confirm" class = "btn btn-primary">Next Step</button>
</div>

