<div class="categoryFilter text-center">
  <label>Category Filter :</label>
  <select ng-options="cat as cat.name for cat in categories track by cat.id" ng-model="selectedCat">
    <option value=""></option>
  </select>
</div>
<div clas="row">
  <div ng-repeat="product in products | filter:{category: selectedCat || undefined}">
    <div class="col-md-4 productContainer">
        <div class="item">
          <div class="productName" ui-sref="products.show({ id: product.id })">{{product.name}}</div>
          <div class="productPrice pull-right">{{product.price | currency }}</div>
          <img class="productsIndex" ui-sref="products.show({ id: product.id })" src={{product.imageUrl}} />
          <div class="addToCart"><a class="btn btn-sm btn-warning" href="#">Add To Cart</a></div>
        </div>
    </div>
  </div>
</div>