/*body {
  padding-bottom: 70px;
}*/

/*footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.main {
  margin-bottom: 60px;
}*/

h1{
  text-align: center;
}

.product-image {
  height: 200px;
  width: 200px;
}

.current-product-image {
  height: 600px;
  width: 600px;
}

input:focus {
 outline:none;
 box-shadow: none;
}

input.ng-invalid {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

input.ng-untouched {
  border: 1px solid grey;
}

input.ng-invalid:focus {
  border: 1px solid red;
}

input.ng-valid:focus {
  border: 1px solid green;
}

input.ng-untouched:focus {
  border: 1px solid grey;
}

.invalid {
  pointer-events: none;
}
