<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in cartItems">
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.price }}</td>
      <form ng-model="quantity">
        <td><input type="text" value="{{ item.quantity }}" class="form-control"></td>
        <td><button ng-click="updateQuantity(quantity)" class="btn btn-sm btn-success">Update Quantity</button></td>
      </form>
      <td><button ng-click="removeItem(item)" class="btn btn-sm btn-danger">Remove Item</button></td>
    </tr>
  </tbody>
</table>
