<div class="row">
  <div class="col-xs-12">
    <h5 class="text-center">peruse our vast collection of products here</h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-5"></div>
  <div class="col-xs-7">
    <select ng-model="selectedCategory" multiple>
      <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>
    </select>
  </div>
</div>




<div class="row">
  <product ng-repeat="product in products | categoryFilter: selectedCategory"></product>


</div>