<!-- Filters -->
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <select ng-model="categoryId" class="form-control">
        <option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
      </select>
    </div>
  </div>  
</div>

<!-- Products -->
<div class="row">
  <div class="product col-xs-4" ng-if="products.length" ng-repeat="product in products | filter: categoryId" product="product" cart="cart"></div>
</div>

<div class="text-danger" ng-if="products.length == 0">
  No Products
</div>

