<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        {{ product.name }}
        </div>

      </div>

      <div class="panel-body">
        <img ng-src="{{ product.image}}" alt="" class="img-responsive">


      </div>
      <div class="panel-footer">
        <form class="form" name="buy-form">
          <input id="" type="number" name="" ng-model="quantity">
          <input type="submit" class="btn btn-default" value="Buy">
        </form>
        <p>
        {{ product.longDescription}}
        </p>
      </div>
    </div>

  </div>
</div>
