
<div id="product-container">
  <div class="row">
    <div class="col-xs-4">
      <img ng-src="{{ item.product.image }}" class = "img img-responsive img-small">
    </div>

    <div class="col-xs-6">
      <h2>{{ item.product.name }}</h2>
      <p> {{ item.product.description }}</p>
    </div>

    <div class="col-xs-2">
      <h5>Price: {{ item.product.price | currency }}</h5>
      <form name="myform">
        <label>Quantity
          <input type="text" name="quantity-field" ng-model = "item.quantity" class = "form-control" ng-pattern="/^[0-9]{1,5}$/">
        </label>


        <p>Total: {{ item.product.price * quantity | currency }}</p>

        <button class = "btn add-button" ng-click="updateCart()" ng-if="quantityField.$valid" type="submit">Update Cart</button>
      </form>
    </div>
  </div>
</div>
