<div class='container'>

  <div class='row'>
    <div class='col-xs-12'>


      <h1 class='text-center'>Shopping Cart</h1>

      <div class='cart-wrapper'>

        <div class='cart' ng-if='cartItems.length > 0'>
          <table class='table'>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in cartItems">
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.product.category.name }}</td>
                <td><input type='number' ng-model='item.quantity'></td>
              </tr>
            </tbody>
          </table>

          <button class='btn btn-primary pull-right' ng-click='updateCart()'>
            Update Cart
          </button>
        </div>

        <h3 class = 'text-center' ng-if='cartItems.length === 0'>
          <em>Cart is empty...</em>
        </h3>

      </div> <!-- cart-wrapper -->


    </div>
  </div>

</div>