
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class='row'>
      <product-directive product="findProduct()"></product-directive>
    </div>

    <div class='row'>
      <p><b>Description:</b> {{findProduct().description}} </p>
    </div>

    <div class='row'>
      <div class='col-sm-7'>
        <select ng-model='productQuantity'>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
        </select>
      </div>

      <div class='col-sm-5'>
        <button class="btn btn-lg btn-primary"
                ng-click='addToCart(findProduct().id, productQuantity)'>
          Add to Cart
        </button>
      </div>

    </div>
  </div>
</div>



