<h1>Put in your address.</h1>

<form class="form" name="addressForm">
  {{ address }}
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" ng-model="formData.address.firstName" required>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" ng-model="formData.address.lastName" required>
  </div>
  <div class="form-group">
    <label>Street</label>
    <input type="text" class="form-control" ng-model="formData.address.street" required>
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" ng-model="formData.address.city" required>
  </div>
  <div class="form-group">
    <label>State</label>
    <input type="text" class="form-control" ng-model="formData.address.state" required>
  </div>
  <div class="form-group">
    <label>Zip</label>
    <input type="text" class="form-control" ng-model="formData.address.zip" required>
  </div>
  <div class="form-group">
    <label>Country </label>
    <input type="text" class="form-control" ng-model="formData.address.country">
  </div>

</form>
<button class="btn btn-danger" ui-sref="cart">Cancel!</button>
<button class="btn btn-primary" ng-disabled="addressForm.$invalid" ng-click="checkValid(addressForm, 'checkout.payment')">Next</button>
