/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}




/*
==================
MAIN PAGE SPACING
==================
*/

.grid{
width: 1200px;
height: 600px;
margin: 0 auto;}


/*
==================
TOP BAR
==================
*/
.topbar{
  width: 100%;
  border-bottom: 1px solid black;
  height: 45px
}

.topbar img{
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.topbar div{
    display: inline-block;
    vertical-align: center;
}

.topbar .right{
  float: right;
  margin-right: 100px;
}

.topbar .left{
  float: left;
  margin-left: 100px;
}

.text {
  font-size: 24px;
  font-size: bold;
  line-height: 40px;
}

.topbar a{
  text-decoration: none;
  color: black;
}

/*
==================
BACKGROUND IMAGE
==================
*/

.background img{
  width: 100%;
  align-self: center;
}

.undership{
  text-align: center;
  line-height: 120px;
  background-color: black;
  color:yellow;
  position: relative;
  top: -120px;
  height: 120px;
  font-size: 40px;
}

.subundership{
  text-align: center;
  line-height: 40px;
  background-color: white;
  color:black;
  height: 40px;
  position: relative;
  top: -120px;
  font-size: 16px;
  border: 1px solid black;
}

/*
==================
HOLDER FRAMES FOR ITEMS
==================
*/
.itembox{
  width: 300px;
  height: 300px;
  display: inline-block;
}

.item{
  max-width: 100%;
  max-height: 225px;
  display: block;
  margin: auto;


}

.itemtext {
  text-align: center;
  border: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: black;
  color: yellow;
}

.price{
  float: right;
  border:1px solid black;
  background-color: yellow;
  border-radius: 5px;
  padding: 4px;
}

.buybtn{
  background-color: yellow;
  border-radius: 5px;
  color: #000;
}

/*
==================
FRAME DISPLAY
==================
*/

.frame{
  width: 920px;
  margin: 0 auto;}

.separator{
  margin-top:30px;
}

/*
==================
PAGE BAR
==================
*/

.pages{
  width: 100%;
  height: 45px;
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
  letter-spacing: 3px;

}

.inline{
  display: inline-block;
}

/*
==================
CONTACT US SECTION
==================
*/

footer{
  text-align: center;
  border-top: 1px solid black;
  color: white;
  background-color: black;
  padding-bottom: 50px;
}

footer h2{
  color: orange;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 800px
}

footer img{
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

/*
==================
CART
==================
*/

.thumbnail-container {
  width: 120px;
}