<!-- Page Header -->
        <div>
          <h3>
            {{ flashText }}
          </h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Viking Store
                    <small>Apple products</small>



                  <div class="col-md-4 pull-right">
                    <select ng-model="selectedCategory" class="form-control">
                      <option ></option>
                      <option ng-repeat="category in categories">{{ category }}</option>
                    </select>
                  </div>


                </h1>
            </div>
        </div>
        <!-- /.row -->



<div class="row" >
  <product-template ng-repeat="product in products | filter: {category: selectedCategory}">
  </product-template>
</div>
