CART!

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Edit Quantity</th>
    <th>Remove All</th>

  </tr>

  <tr ng-repeat="(id, quantity) in cart">

  <td>{{ products[id].name }}</td>
  <td>{{ quantity }}</td>
  <td><button ng-click="increaseQuantity()">+</button>
      <button ng-click="decreaseQuantity()">-</button>
      <button ng-click="updateCart()" class="btn btn-primary">UpdateCart</button>
  </td>
  <td><button ng-click="updateCart(id)" class="btn btn-danger">Remove Items</button></td>
  </tr>
</table>
