<div class="column">
    <div class="item-container">
      <h4 class="black-row">The Silent Night</h4>
      <div class="image-container">
        <img src="assets/images/axe_silent_night_small.jpg" alt="The Silent Night">
        <span class="price-box">$200</span>
      </div>
      <form class="black-row">
        <input type="submit" value="Add to Cart" class="cart-btn"></input>
      </form>
    </div> 
  </div><!--

  --><div class="column">  
    <div class="item-container">
      <h4 class="black-row">The Dainty Daisy</h4>
      <div class="image-container">
        <img src="assets/images/axe_dainty_daisy_small.jpg" alt="The Dainty Daisy">
        <span class="price-box">$100</span>
      </div>
      <form class="black-row">
        <input type="submit" value="Add to Cart" class="cart-btn"></input>
      </form>
    </div>  
  </div><!--

  --><div class="column">  
    <div class="item-container">
      <h4 class="black-row">Double Trouble</h4>
      <div class="image-container">
        <img src="assets/images/axe_double_trouble_small.jpg" alt="Double Trouble">
        <span class="price-box">$340</span>
      </div>
      <form class="black-row">
        <input type="submit" value="Add to Cart" class="cart-btn"></input>
      </form>
    </div>  
  </div>


  <div class="column">
    <div class="item-container">
      <h4 class="black-row">Whispering Wind</h4>
      <div class="image-container">
        <img src="assets/images/axe_whispering_wind_small.jpg" alt="Whispering Wind">
        <span class="price-box">$225</span>
      </div>
      <form class="black-row">
        <input type="submit" value="Add to Cart" class="cart-btn"></input>
      </form>
    </div> 
  </div><!--

  --><div class="column">  
    <div class="item-container">
      <h4 class="black-row">The Cunning Cutter</h4>
      <div class="image-container">
        <img src="assets/images/axe_cunning_cutter_small.jpg" alt="The Cunning Cutter">
        <span class="price-box">$200</span>
      </div>
      <form class="black-row">
        <input type="submit" value="Add to Cart" class="cart-btn"></input>
      </form>
    </div>  
  </div><!--

  --><div class="column">  
    <div class="item-container">
      <h4 class="black-row">The Kingmaker</h4>
      <div class="image-container">
        <img src="assets/images/axe_kingmaker_small.jpg" alt="The Kingmaker">
        <span class="price-box">$400</span>
      </div>
      <form class="black-row">
        <input type="submit" value="Add to Cart" class="cart-btn"></input>
      </form>
    </div>  
  </div>

  <div class="page-index">
    <a href="#">&lt;&lt; Prev</a>
    <a href="#">1</a>
    <span>2</span>
    <a href="#">3</a>
    <p>...<p>
    <a href="#">8</a>
    <a href="#">9</a>
    <a href="#">Next &gt;&gt;</a>
  </div>