<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Viking Store</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Your Cart</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Cart({{cart.length}})</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>The Viking Store</h1>
  <h3 class="inverted">The Best Viking Gear on the Whole Web</h3>
</div>

<ui-view></ui-view>
