<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-left">
        <img src="img/placeholder.png" alt="{{ item.product.name }}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ item.product.name }}</h4>
        {{ item.product.category.name }}<br>
        {{ item.product.price | currency }}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" ng-model="item.quantity" min="1">
        </div>
      </div>
      <div class="col-xs-6 text-right">
        <div class="form-group">
          <label class="control-label">Total Price</label>
          <p class="form-control-static">
          {{ item.product.price * item.quantity | currency }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-xs btn-danger" ng-click="removeItem(item)">Remove Item</button>
      </div>
    </div>
  </div>

</div>

<hr>