<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline"><a ui-sref="products.show({id: product.id})">{{ product.name }}</a></span>
      <span class="md-subhead">{{ product.category.name }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      {{ product.description }}
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <label>Amount</label>
    <input ng-model="quantity">
    <md-button ng-click="addToCart(product, quantity)">Add to Cart</md-button>
  </md-card-actions>
</md-card>
