<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
      <div>
        <div style='color:white; background:#222; padding:5px' >
          <h5 class= 'text-center'>Silent Night</h5>
        </div>
        <img src='...' alt='...'>
        <div class='price'>
          $200
        </div>
        <div style='background:#222; padding: 10px' class='text-center'>
          <a href='#' class='btn btn-warning' role='button' >Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>