<div class="row">
  <div class="col-xs-12">
    <div id="category-filter">
      <div id="category-select-container">
        <select class='form-control'>
          <option value="all">All</option>
          <option ng-repeat="(key, value) in categories" value="{{value.id}}">{{ value.name }}</option>
        </select>
      </div>
      <div id="category-button-container">
        <button class='btn btn-success'>Filter</button>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-repeat="products in productsInChunks">
  <div class="col-xs-4" ng-repeat="product in products">
    <div class="product">

      <div class="product-title">
        {{ product.name }}
      </div>

      <div class="product-image">
        <img ng-src="{{ product.imageUrl }}">
        <div class="price">
          <p>${{ product.price }}</p>
        </div>
      </div>

      <div class="product-bottom text-center">
        <button class='btn btn-warning'>Add to Cart</button>
      </div>

    </div>
  </div>
</div>