<div class='col-xs-4' style="margin: 15px 0 15px 0">
    <div style='color:white; background:#222; padding:5px' >
      <h5 class= 'text-center'>{{product.name}}</h5>
    </div>
    <div class="pic-thumbnail-container">
      <a ui-sref='landing.products.show({id: product.id})' ><img class="pic-thumbnail" src='img/250.jpeg' alt='bear'></a>
      <div class='price'>{{product.price}}</div>
    </div>
    <div style='background:#222; padding: 10px' class='text-center'>
      <a href='#' class='btn btn-warning' role='button' >Add to Cart</a>
    </div>
</div>
